
<div class="py-6 my-6 text-center">
    <div>
        <span class="px-1 py-0.5 w-14 text-xs text-blue-400 rounded-md border border-blue-400">v202403</span>
        <h1 class="mt-2 text-3xl font-bold leading-7 text-gray-300">ANYSUB</h1>
    </div>
    <p class="mt-1 text-sm leading-6 text-gray-300 uppercase">Subtitle anything.</p>
</div>

<div class="flex justify-center items-center my-4">
	<button class="inline-block px-8 py-3 text-sm font-medium text-white bg-indigo-600 rounded transition hover:rotate-2 hover:scale-110 focus:outline-none focus:ring active:bg-indigo-500" 
		hx-get="/html/v1/modal-new-tx" 
		hx-target="body" 
		hx-swap="beforeend">New transcription</button>
</div>

<div hx-get="/api/v1/transcriptions" hx-trigger="load">
    <img alt="Result loading..." class="htmx-indicator" width="150" src="https://v2-0v2-0.htmx.org/img/bars.svg" />
</div>

<style>
    /***** MODAL DIALOG ****/
#modal {
	/* Underlay covers entire screen. */
	position: fixed;
	top:0px;
	bottom: 0px;
	left:0px;
	right:0px;
	z-index:1000;

	/* Flexbox centers the .modal-content vertically and horizontally */
	display:flex;
	flex-direction:column;
	align-items:center;

	/* Animate when opening */
	animation-name: fadeIn;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal > .modal-underlay {
	/* underlay takes up the entire viewport. This is only
	required if you want to click to dismiss the popup */
	position: absolute;
	z-index: -1;
	top:0px;
	bottom:0px;
	left: 0px;
	right: 0px;
}

#modal > .modal-content {
	/* Position visible dialog near the top of the window */
	margin-top:10vh;

	/* Sizing for visible dialog */
	width:80%;
	max-width:600px;

	/* Display properties for visible dialog*/
	border:solid 1px #999;
	border-radius:8px;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
	background-color:rgb(35, 39, 70);
	padding:20px;

	/* Animate when opening */
	animation-name:zoomIn;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal.closing {
	/* Animate when closing */
	animation-name: fadeOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal.closing > .modal-content {
	/* Animate when closing */
	animation-name: zoomOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
} 

@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
} 

@keyframes zoomIn {
	0% {transform: scale(0.9);}
	100% {transform: scale(1);}
} 

@keyframes zoomOut {
	0% {transform: scale(1);}
	100% {transform: scale(0.9);}
} 
</style>