<div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
  <div class="modal-underlay" _="on click trigger closeModal"></div>
  <div class="modal-content" class="bg-white">
    <h1 class="text-lg font-bold">New translation task</h1>

    <form class="space-y-4" hx-target="#tx-{{.ID}}" hx-swap="outerHTML" hx-encoding="multipart/form-data" hx-post="/api/v1/transcriptions/{{.ID}}/translations" _="on htmx:xhr:progress(loaded, total) set #progress.value to (loaded/total)*100">
      <div>
        <label for="langFrom" class="block text-sm font-medium text-gray-300"> Source Language </label>

        <select disabled name="langFrom" id="langFrom" class="mt-1.5 w-full text-gray-600 rounded-lg border-gray-900 sm:text-sm">
          <option selected value="en">EN</option>
        </select>
      </div>

      <div>
        <label for="langTo" class="block text-sm font-medium text-gray-300"> Translate to </label>

        <select name="langTo" id="langTo" class="mt-1.5 w-full text-gray-600 rounded-lg border-gray-900 sm:text-sm">
          <option value="es">ES</option>
          <option value="en">EN</option>
        </select>
      </div>

      <button class="p-3 text-black bg-white" _="on click trigger closeModal" type="submit">Translate</button>
      <span class="p-3 text-black bg-white cursor-pointer" _="on click trigger closeModal" hx-disabled>Close</span>
    </form>

  </div>
</div>
