<!doctype html>
<html lang='en' data-theme="dark" class="h-full dark">

<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anysub</title>
    <link rel='stylesheet' href='/static/css/style.css'>
    <link rel="shortcut icon" href="/static/assets/favicon.webp" type="image/x-icon">
    <script src="https://unpkg.com/htmx.org@1.9.11"
        integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
        crossorigin="anonymous"></script>
	<script src="https://unpkg.com/htmx.org@1.9.11/dist/ext/ws.js"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <meta name="htmx-config" content='{"selfRequestsOnly":false}'>
</head>

<body class="p-0 m-0 w-screen h-screen min-h-full font-mono antialiased text-gray-300 bg-zinc-900">
    {{ template "content" . }}
</body>

</html>